<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{title}} {% endblock%}

{% block style_block %}
<center style="padding:10px">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Edit post
  </button>
  <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit your post</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {{form.as_p}}
            {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-sm btn-primary">Edit Post<button>
                  
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
</center>
{% endblock %}
