<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{title}} {% endblock%}

{% block style_block %}
<style>
    .log_in{
        width:300px;
        
        border:1px solid #ccc;
        padding:20px;
   
    }
</style>
{% endblock%}

{% block body_block %}
<center style='padding-top:15%'>
<div class="log_in">
    <form method="POST" >
        {{Change_passowrd|crispy}}
        {% csrf_token %}
        <br>
        <button type="submit" class="btn btn-primary btn-sm" style="width:190px" >Submit</button>
        </form>
        
</div>
</center>

{% endblock %}
