<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{title}} {% endblock%}

{% block style_block %}
<style>
    .sign_up{
        width:220px;
        height:500px;
        border:1px solid #ccc;
        padding:20px;
        

    }
</style>
{% endblock%}

{% block body_block %}
<center style='padding-top:5%'>
<div class="sign_up">
    <form method="POST" >
        {{form|crispy}}
        {% csrf_token %}
        <br>
        <button type="submit" class="btn btn-primary btn-sm" style="width:190px" >Create Account</button>
        </form>

        <p style='padding-top:10%'><b>Have an account?<a href="{% url 'accountapp:login' %}">Login</a> here</b></p>
        
</div>
</center>

{% endblock %}
